*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#app{
    width: 100%;
}

.search-box{
    width: 1200px;
    margin: auto;
}

.list-container{
    background-color: lightblue;
    width: 1200px;
    margin: auto;
    padding: 20px;
}

ul {
    list-style: none;
    padding: 50px;
}

li{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    cursor: pointer;
}

.close {
    padding-right: 20px;
}

.done{
    text-decoration: line-through;
}